<body>
    <nav class="navbar navbar-light bg-white fixed-top">
        <a class="navbar-brand" href="#">
            <img class="logo text-left" src="../assets/front-test-logo.png">
        </a>
    </nav>
    <div class="py-5 section">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-lg-3 col-md-3 col-sm-1">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-10 py-5">
                    <div class="form_login">
                        <h2 class="font-weight-bold py-4">Entrar</h2>
                        <form action="/home">
                            <div class="form-group">
                                <input type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control form-control-lg" id="exampleInputPassword1"
                                    placeholder="Senha" required>
                            </div>
                            <div class="form-group text-right">
                                <label class="text_esqueceu font-weight-bold">Esqueceu a senha?</label>
                            </div>
                            <div class="form-group">
                                <button type="submit"
                                    class="btn btn-login btn-lg btn-block font-weight-bold">Entrar</button>
                            </div>
                            <div class="form-group text-center">
                                <label class="text_esqueceu font-weight-bold text-info"><a routerLink="/register"> Não
                                        tem
                                        uma
                                        conta?
                                        Cadastre-se</a></label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-3">
            <div class="container">
                <div class="row">
                    <div class="imagemBg"></div>
                </div>
            </div>
        </div>
    </div>