<body>

    <div
        class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
        <h5 class="my-0 mr-md-auto font-weight-normal"> <img class="logo text-left" src="../assets/front-test-logo.png">
        </h5>
        <a class="btn btn-outline-dark btn_logout" routerLink="/login">Logout</a>
    </div>
    <!-- Body -->
    <div class="align-items-center d-flex photo-overlay py-5 cover"
        style="background-image: url('../../assets/bg-front.png');background-repeat:no-repeat; background-attachment: fixed; background-position: center;">
        <div class="container py-5">
            <div class="row py-5">
                <div class="col-lg-3 col-md-2">
                </div>
                <div class="col-lg-6 col-md-8">
                    <img class="img-fluid" src="../../assets/front-test.png">
                </div>
            </div>
            <div class="row py-5">
                <div class="col-lg-3 col-md-2">
                </div>
                <div class="col-lg-6 col-md-8 text-center">
                    <p class="text-center text-light font-weight-bold">Paragraph. Then, my friend, when darkness
                        overspreads my eyes, and heaven and earth seem
                        to dwell in my soul and absorb its power, like the form of a beloved mistress, then I often
                        think with longing.</p>
                    <button type="submit" class="btn btn-outline-light btn_rounded"><b>Saiba mais</b></button>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 text-center">
        <div class="container py-5">
            <div class="row div_cards">
                <div class="col-md-4 p-0 py-3">
                    <div class="card rounded-0 custom_card">
                        <div class="card-body p-4">
                            <h4 class="card_text_color font-weight-bold">Start</h4>
                            <img src="../../assets/img_cards.png" class="img-fluid img_cards py-3">
                            <p>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                            </p>
                            <button class="btn btn-outline-dark mt-3 btn_rounded_card" href="#">Saiba Mais</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="card py-2 custom_card_mid">
                        <div class="card-body p-4">
                            <h4 class="card_text_color font-weight-bold">Start</h4>
                            <img src="../../assets/img_cards.png" class="img-fluid py-3">
                            <p>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                            </p>
                            <button class="btn btn-primary mt-3 btn_rounded_card" href="#">Saiba Mais</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 p-0 py-3">
                    <div class="card rounded-0 custom_card">
                        <div class="card-body p-4">
                            <h4 class="card_text_color font-weight-bold">Start</h4>
                            <img src="../../assets/img_cards.png" class="img-fluid img_cards py-3">
                            <p>
                                Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus
                                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
                            </p>
                            <button class="btn btn-outline-dark mt-3 btn_rounded_card" href="#">Saiba Mais</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="image_footer">
        <div class="container footer_info">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                            <p class="text_footer">Quem somos</p>
                            <p class="text_footer">Como funciona</p>
                            <p class="text_footer">FAQ's</p>
                            <p class="text_footer">Contato</p>
                        </div>
                        <div class="col-6">
                            <p class="text_footer">Login</p>
                            <p class="text_footer">Cadastro</p>
                            <p class="text_footer">Termos de uso</p>
                            <p class="text_footer">Privacidade</p>
                        </div>
                    </div>
                </div>
                <div class="col-6">

                </div>
                <div class="col-md-12 mt-3">
                    <p class="text-center text-muted">© Copyright 2019 Paulo Junior Schüssler.
                    </p>
                </div>
            </div>
        </div>
    </div>